html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Start of Game Play Interface */
body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.not-matching {
    background: #dd5757;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.score-panel .timer {
    float: right;
    margin-left: 18px;
}

.minutes-display::after {
    content: ":"
}
/* End of Game Play Interface */

/* Start of Game Over Modal */
.game-over-container {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #000;
    opacity: 0.9;
    letter-spacing: 0.7px;
}

.game-over-info {
    position: relative;
    left: 0;
    right: 0;
    width: 325px;
    max-height: 48%;
    padding: 12px;
    background: #fff;
    margin: 0 auto;
    border: 2px dashed #341535;
    border-radius: 10px;
}

.game-over-info h1 {
    text-align: center;
    font-weight: 900;
}

.game-over-data {
    background: #341535;
    color: #fff;
    border: 2px solid #000;
    border-radius: 3px;
    padding-left: 10px;
}

.game-over-btns {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.close-btn,
.replay-btn {
    background: #fff;
    border-radius: 5px;
    font-weight: 700;
    letter-spacing: 0.7px;
    padding: 10px 20px;
}

.close-btn {
    margin-right: 17px;
    border: 2px solid #d10e2f;
    border-radius: 50px;
}

.close-btn:hover,
.close-btn:focus {
    background: #d10e2f;
    color: #fff;
}

.replay-btn {
    margin-left: 17px;
    border: 2px solid #206620;
    border-radius: 50px;
}

.replay-btn:hover,
.replay-btn:focus {
    background: #206620;
    color: #fff;
}

.close-btn:active,
.replay-btn:active {
    transform: translateY(3px);
}
/* End of Game Over Modal */